<h1 align = "center" >Liste des commandes</h1><hr>
<br>

<table class="table table-striped" border="2">
    <thead>

{#    <meta charset="UTF-8">#}
    <tr>     <th>id</th>
        <th>titre</th>
        <th>date de commande</th>
        <th>prix</th>



    </tr>
{#    {% block stylesheets %}{% endblock %}#}
    </thead>
    <tbody>

    {% for commande in commandes %}
        <tr>
            <td>{{ commande.id }}</td>
            <td>{{ commande.titre }}</td>
            <td>{{ commande.dateDeCommande|date("d/m/y") }}</td>
            <td>{{ commande.prix}}</td>


        </tr>

    {% endfor %}

    </tbody>
</table>
{#<img src='public/img/poc.png'>""Image Issue in 1.0.2 in Dompdf" ;#}
