
<div>
    <table>
        <thead>
        <tr>
            <th>type</th>
          
        </tr>
        </thead>
        <tbody>
        {% for e in categories %}
        <tr>
            <td>{{ e.type }}</td>

        </tr>

        {% endfor %}
        
        </tbody>

</table>
</div>
