{% extends 'base.html.twig' %}

{% block title %}New Categorie{% endblock %}

{% block body %}
    <h2>Create new Categorie</h2>

    {{ include('categorie/_form.html.twig') }}

    <a href="{{ path('app_categorie_index') }}"><i class="fas fa-2x fa-eye"></i></a>
{% endblock %}
