
 {% block body %}
 {% for valeur in categories %}
    <article class="col-12 col-md-6 tm-post">
     
            <h2 class="tm-pt-30 tm-color-primary tm-post-title">{{valeur.getType()}}</h2>
         
        
        </a>                    
        
       
    </article>
 
 {% endfor %}

     {% endblock %}  